---
import { NextUIProvider } from "@nextui-org/react";
import { MdHomeFilled, MdFavorite } from "react-icons/md";
import { FaMagnifyingGlass} from "react-icons/fa6";
import { LuLibrary } from "react-icons/lu";
import { IoMdSettings } from "react-icons/io";
import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<!doctype html>
<html lang="en" class="bg-neutral-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Music App" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>TurnOn Music</title>
  </head>
  <body class="h-screen flex">
    <aside class="w-64 bg-white h-full shadow-md fixed">
      <div class="flex items-center justify-start h-16 pl-4">
        <h1 class="text-xl font-bold">Proyecto BD2_2</h1>
      </div>
      <nav class="mt-6">
        <ul class="space-y-2">
          <li>
            <a href="/home" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100">
			  <MdHomeFilled size={25} />
              <span class="ml-3">Home</span>
            </a>
          </li>
          <li>
            <a href="/" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100">
			  <FaMagnifyingGlass size={18} />
              <span class="ml-3">Search</span>
            </a>
          </li>
          <!-- <li>
            <a href="#" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100">
			  <LuLibrary size={20} />
              <span class="ml-3">Library</span>
            </a>
          </li> -->
          <!-- <li>
            <a href="#" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100">
			  <MdFavorite size={18} />
              <span class="ml-3">Liked Songs</span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100">
			  <IoMdSettings size={20} />
              <span class="ml-3">Settings</span>
            </a>
          </li> -->
        </ul>
      </nav>
    
    </aside>

    <main class="flex-1 ml-64  bg-neutral-100">
      <NextUIProvider>
		<ViewTransitions  />

        <slot />
      </NextUIProvider>
    </main>


    <footer class="fixed bottom-0 w-full bg-white shadow-md">
      <div class="flex items-center justify-between px-4 py-2">
        <div class="flex items-center space-x-4">
          <img
            src="https://akamai.sscdn.co/uploadfile/letras/albuns/7/e/e/e/344671397157010.jpg"
            alt="Album Cover"
            class="w-10 h-10 rounded-md"
          />
          <div>
            <p class="text-sm font-medium text-gray-900">A Little Death</p>
            <p class="text-xs text-gray-500">The Neighbourhood</p>
          </div>
        </div>

        <div class="flex items-center space-x-4">
          <button class="text-gray-600 hover:text-gray-900">﹤﹤</button>
          <button class="text-gray-600 hover:text-gray-900">▶️</button>
          <button class="text-gray-600 hover:text-gray-900">﹥﹥</button>
        </div>

        <div class="flex items-center space-x-2 w-1/2">
          <p class="text-xs text-gray-500">0:00</p>
          <div class="flex-grow bg-gray-300 h-1 rounded-full relative">
            <div class="bg-gray-600 h-1 rounded-full" style="width: 30%;"></div>
          </div>
          <p class="text-xs text-gray-500">3:30</p>
        </div>
      </div>
    </footer>
  </body>
</html>
