---

import Tiempos from '../components/react/AudioTable';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Auidio page">
	<main class="">
                <Tiempos  client:load>
	</main>
</Layout>
