---
import Layout from '../layouts/Layout.astro';
import Tiempos from './contollers/data';

---

<Layout title="Astro1">
	<main class="p-10">
		<div class="text-xl font-bold pb-5">
            Main menu
		</div>
		<Tiempos client:load />
	</main>
</Layout>
