---
import Layout from '../layouts/Layout.astro';
import SpotifyApp2 from "../components/react/SpotifySearch.tsx";

---

<Layout title="Welcome to Astro.">
	<main class="p-10">
		<SpotifyApp2 client:load />
	</main>
</Layout>
